body {
  margin: 0;
}

.main {
  padding: 8px;
}

.deck {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.deck + .deck {
  margin-top: 4px;
}

.deck > * + * {
  margin-left: 4px;
}
