body {
  margin: 0;
  font-family: "poppins";
}

.main {
  padding: 8px;
}

.deck {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.deck + .deck {
  margin-top: 4px;
}

.deck > * + * {
  margin-left: 4px;
}

header {
  top: 0;
  background-color: #e07552;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

footer {
  bottom: 0;
  background-color: #e2eaf7;
  position: fixed;
  width: 100%;
  height: 20%;
  z-index: 1;
}

.content-container {
  margin-top: 2em;
  background-color: #0d0f4a;
  height: 90vh;
  position: relative;
  width: 98%;
  z-index: 2;
  color: white;
  border-radius: 0 15px 15px 0;
}

.about-box {
  width: auto;
  height: 20em;
  color: #fff;
  font-size: 32pt;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 0.5em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
}

.about-box h1 {
  text-align: center;
}

.galvanize-vocab-graphic {
  padding-left: 5em;
  padding-top: 0.5em;
}

.navigation-menu {
  all: unset;
}

.header {
  top: 0;
  background-color: #e07552;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.mainContent {
  margin-top: 2em;
  background-color: #0d0f4a;
  height: 90vh;
  position: relative;
  width: 98%;
  z-index: 2;
  color: white;
  border-radius: 0 15px 15px 0;
}

.footer {
  bottom: 0;
  background-color: #e2eaf7;
  position: fixed;
  width: 100%;
  height: 20%;
  z-index: 1;
}
.reveal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .nav-button {
  background: none;
  border: none;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-right: 1em;
  font-size: 20pt;
} */

.reveal-button {
  align-self: center;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #e07552;
  color: white;
  font-size: 20pt;
}