.card-container {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.card {
  border: 1px solid yellow;
  height: 516px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.card-question {
  background: 1px solid yellow;
}

.card-question-hidden {
  display: none;
}

.response-container {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 4em;
}

.response-container>img {
  width: 2.75em;
  height: 2.75em;
}

.reveal-answer-button {
  width: 200px;
  height: 3.75em;
}