.nav-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: .2em;
    width: 72%;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
}

.nav-buttons>button {
    all: unset;
    cursor: pointer;
    margin-left: 2em;
    font-size: 1.25em;

}

.nav-buttons>button:hover {
    color: #0d0f4a;
    transition: .2s ease-in-out;
}