.deck-box {
  margin: 0.625em;
  cursor: pointer;
  width: 25%;
  height: 12.5%;
  font-family: monospace;
  color: black;
  background-color: white;
  display: inline-block;
  border-radius: 15px;
}
