.decks-container {
  text-align: center;
  font-size: 22px;
  border: 2px solid white;
  
}

.deck {
  margin: 1.2em;
  cursor: pointer;
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;
  max-height: 200px;
  font-family: monospace;
  color: #0d0f4a;
  background-color: white;
  display: inline-block;
  border-radius: 15px;
  transition: .2s ease-in-out;
}

.deck-description {
  margin-top: 8%;
}

.deck-percentage {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  color: #0D0F4A;
  transition: .2s ease-in-out;
}


.deck-box:hover {
  background-color: #e07552;
  color: #fff;

  .deck-percentage-correct{
    color: #fff
  }
}

