.container-style {
  text-align: center;
  font-size: 22px;
  margin-top: -2.5em;
}

.deck-box {
  margin: 1.2em;
  cursor: pointer;
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;
  max-height: 200px;
  font-family: monospace;
  color: #0d0f4a;
  background-color: white;
  display: inline-block;
  border-radius: 15px;
  transition: .2s ease-in-out;
}

.deck-description {
  margin-top: 25%;
  margin-bottom: 25%;
}

.deck-box:hover {
  background-color: #e07552;
  color: #fff;
}


