.home-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 6em 6em 6em;
}

.galvanize-guy-png {
    width: 36.625em;
    height: 37.5em;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    width: 36.625em;
    height: 100%;
}

.home-title {
    width: 100%;
    font-size: 3em;
    font-weight: bolder;
}

.home-paragraph {
    margin-top: 2em;
    font-size: 2em;
    align-items: flex-end;
    font-weight: 100;
}

/* 90% */
@media screen and (max-width: 1800px) {

    .home-container {
        margin: 1.8em 5.4em 5.4em 5.4em;
    }

    .galvanize-guy-png {
        width: 32.9625em;
        height: 33.75em;
    }

    .home-text-container {
        width: 32.9625em;
    }

    .home-title {
        font-size: 2.7em;
    }

    .home-paragraph {
        margin-top: 1.8em;
        font-size: 1.8em;
    }
}

/* 85% */
@media screen and (max-width: 1700px) {
    .home-container {
        margin: 1.7em 5.1em 5.1em 5.1em;
    }

    .galvanize-guy-png {
        width: 31.13125em;
        height: 31.875em;
    }

    .home-text-container {
        width: 31.13125em;
    }

    .home-title {
        font-size: 2.55em;
    }

    .home-paragraph {
        margin-top: 1.7em;
        font-size: 1.7em;
    }

}

/* 80% */
@media screen and (max-width: 1600px) {
    .home-container {
        margin: 1.6em 4.8em 4.8em 4.8em;
    }

    .galvanize-guy-png {
        width: 29.3em;
        height: 30.0em;
    }

    .home-text-container {
        width: 29.3em;
    }

    .home-title {
        font-size: 2.4em;
    }

    .home-paragraph {
        margin-top: 1.6em;
        font-size: 1.6em;
    }

}

/* 75% */
@media screen and (max-width: 1300px) {
    .home-container {
        margin: 1.5em 4.5em 4.5em 4.5em;
    }

    .galvanize-guy-png {
        width: 27.46875em;
        height: 28.125em;
    }

    .home-text-container {
        width: 27.46875em;
    }

    .home-title {
        font-size: 2.25em;
    }

    .home-paragraph {
        margin-top: 1.5em;
        font-size: 1.5em;
    }

}

/* 70% */
@media screen and (max-width: 1200px) {
    .home-container {
        margin: 1.4em 4.2em 4.2em 4.2em;
    }

    .galvanize-guy-png {
        width: 25.6375em;
        height: 26.25em;
    }

    .home-text-container {
        width: 25.6375em;
    }

    .home-title {
        font-size: 2.1em;
    }

    .home-paragraph {
        margin-top: 1.4em;
        font-size: 1.4em;
    }

}

/* 65% */
@media screen and (max-width: 1100px) {
    .home-container {
        margin: 1.3em 3.9em 3.9em 3.9em;
    }

    .galvanize-guy-png {
        width: 23.80625em;
        height: 24.375em;
    }

    .home-text-container {
        width: 23.80625em;
    }

    .home-title {
        font-size: 1.95em;
    }

    .home-paragraph {
        margin-top: 1.3em;
        font-size: 1.3em;
    }
}

/* 60% */
@media screen and (max-width: 1000px) {
    .home-container {
        margin: 1.2em 3.6em 3.6em 3.6em;
    }

    .galvanize-guy-png {
        width: 21.975em;
        height: 22.5em;
    }

    .home-text-container {
        width: 21.975em;
    }

    .home-title {
        font-size: 1.8em;
    }

    .home-paragraph {
        margin-top: 1.2em;
        font-size: 1.2em;
    }
}


/* 55% */
@media screen and (max-width: 900px) {
    .home-container {
        margin: 1.1em 3.3em 3.3em 3.3em;
    }

    .galvanize-guy-png {
        width: 20.14375em;
        height: 20.625em;
    }

    .home-text-container {
        width: 20.14375em;
    }

    .home-title {
        font-size: 1.65em;
    }

    .home-paragraph {
        margin-top: 1.1em;
        font-size: 1.1em;
    }
}


/* 50% */
@media screen and (max-width: 700px) {
    .home-container {
        margin: .9em 2.5em 2.5em 2.5em;
    }

    .galvanize-guy-png {
        width: 17em;
        height: 17em;
    }

    .home-text-container {
        width: 17em;
    }

    .home-title {
        font-size: 1.2em;
    }

    .home-paragraph {
        margin-top: .9em;
        font-size: .9em;
    }
}
